  @import 'buscatucoach';
  .slider-fluid {
      @include imagen-completa($imgSliderUno);
      z-index: -2;
      &::after {
          content: "";
          display: block;
          background: rgba($color: $azul-oscuro, $alpha: 0.7);
          width: 100%;
          height: 225px;
          position: absolute;
          z-index: -1;
      }
  }
  
  .grid-column-5 {
      display: grid;
      grid-template-columns: repeat(5, 250px);
      grid-template-rows: 350px;
      gap: 0.6rem;
      margin: auto;
      padding: 10px;
      width: 100%;
      background: white;
      justify-content: center;
      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575px) {
          grid-template: {
              columns: 1fr;
              rows: repeat(5, 350px);
          }
      }
      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767px) {
          grid-template: {
              columns: repeat(2, 1fr);
              rows: repeat(3, 350px);
          }
      }
      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991px) {}
      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199px) {}
      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {}
  }
  
  .grid-container-references {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 200px);
      gap: 10px;
      position: relative;
      .reference {
          display: grid;
          grid-template-columns: 150px 200px 1fr;
          grid-template-rows: 200px;
          background: $celeste;
          gap: 10px;
          position: relative;
          z-index: 3;
          img {
              grid-column: 1 / 2;
              grid-row: 1 / 2;
              width: 170px;
              height: 200px;
              object-fit: cover;
              object-position: left;
              z-index: 2;
          }
          h2 {
              align-self: center;
              justify-self: end;
              padding: 70px;
              text-align: center;
              font-weight: bold;
              z-index: 3;
          }
          .detail-user {
              align-self: center;
              margin-left: 20px;
              h3,
              p {
                  z-index: 3;
                  color: white;
                  align-self: center;
                  padding: 3px;
                  margin-bottom: 0;
              }
              h3 {
                  font-size: 22px;
              }
              [class^="fas fa-star yellow-text"] {
                  padding-left: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
          }
          &::after {
              content: "";
              display: block;
              background-color: $azul-oscuro;
              width: 450px;
              height: 200px;
              position: absolute;
              z-index: -1;
          }
      }
      /*   &::before {
        content: "";
        display: block;
        width: 75px;
        height: 0px;
        border-bottom: 140px solid transparent;
        border-right: 40px solid $celeste;
        position: absolute;
        z-index: 10;
        right: 650px;
    }
    &::after {
        content: "";
        display: block;
        width: 75px;
        height: 0px;
        border-top: 110px solid transparent;
        border-right: 40px solid $celeste;
        position: absolute;
        z-index: 10;
        left: 375px;
        bottom: 210px;
    }*/
      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575px) {
          grid-template: {
              columns: 1fr;
              rows: repeat(2, 1fr);
          }
          .reference {
              grid-template-columns: 1fr;
              grid-template-rows: 200px 150px 120px;
              gap: 0;
              border-radius: 20px;
              img {
                  border-radius: 50%;
                  align-self: center;
                  justify-self: center;
                  width: 150px;
                  height: 150px;
              }
              h2 {
                  align-self: center;
                  justify-self: center;
                  padding: 10px;
                  margin: 0;
                  font-size: 25px;
                  font-style: italic;
                  font-weight: lighter;
              }
              .detail-user {
                  justify-content: center;
                  margin: 0;
                  h3,
                  p {
                      z-index: 3;
                      color: white;
                      align-self: center;
                      padding: 3px;
                      margin-bottom: 0;
                      text-align: center;
                  }
                  h3 {
                      font-size: 25px;
                  }
                  [class^="fas fa-star yellow-text"] {
                      padding: 0;
                      margin: 0;
                  }
                  div {
                      display: grid;
                      grid-template: {
                          columns: repeat(5, 40px);
                          rows: 40px;
                      }
                      justify-content: center;
                      i {
                          justify-self: center;
                          align-self: center;
                      }
                  }
              }
              &::after {
                  border: {
                      bottom-left-radius: 50px;
                      bottom-right-radius: 50px;
                  }
                  content: "";
                  justify-self: center;
                  width: 180px;
                  height: 200px;
              }
          }
      }
      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767px) {
          grid-template: {
              columns: repeat(2, 1fr);
              rows: 1fr;
          }
          .reference {
              grid-template-columns: 1fr;
              grid-template-rows: 200px 150px 120px;
              gap: 0;
              border-radius: 20px;
              img {
                  border-radius: 50%;
                  align-self: center;
                  justify-self: center;
                  width: 150px;
                  height: 150px;
              }
              h2 {
                  align-self: center;
                  justify-self: center;
                  padding: 10px;
                  margin: 0;
                  font-size: 20px;
                  font-style: italic;
                  font-weight: lighter;
              }
              .detail-user {
                  justify-content: center;
                  margin: 0;
                  h3,
                  p {
                      z-index: 3;
                      color: white;
                      align-self: center;
                      padding: 3px;
                      margin-bottom: 0;
                      text-align: center;
                  }
                  h3 {
                      font-size: 25px;
                  }
                  [class^="fas fa-star yellow-text"] {
                      padding: 0;
                      margin: 0;
                  }
                  div {
                      display: grid;
                      grid-template: {
                          columns: repeat(5, 40px);
                          rows: 40px;
                      }
                      justify-content: center;
                      i {
                          justify-self: center;
                          align-self: center;
                      }
                  }
              }
              &::after {
                  border: {
                      bottom-left-radius: 50px;
                      bottom-right-radius: 50px;
                  }
                  content: "";
                  justify-self: center;
                  width: 180px;
                  height: 200px;
              }
          }
      }
      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991px) {}
      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199px) {}
      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {}
  }