$azul-oscuro: #112740;
$celeste: #429EFF;
$white: #fff;
$imgSliderUno: url("../img/bigstock-Business-Casual-People-Office-85581455-e1454520589445.jpg");
$imgBackgroundLogin: url("../img/linkinpark_principal.jpg");