    .slider-fluid {
        background-image: url("../img/bigstock-Business-Casual-People-Office-85581455-e1454520589445.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .grid-container {
        display: grid;
        grid-template-areas: "slidercontent slidercontent slidercontent" "slidercontent slidercontent slidercontent" "slidercontent slidercontent slidercontent";
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: repeat(3, 75px);
        .slider-grid-content {
            grid-area: slidercontent;
            display: grid;
            grid-template-areas: "arrowleft title arrowright";
            align-content: center;
            .title-content {
                grid-area: title;
                align-self: center;
                justify-self: center;
            }
            .arrow-left {
                align-self: center;
                justify-self: center;
                grid-area: arrowleft;
                padding: 10px;
                box-shadow: 0px 0px 0px 3px white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background: cornflowerblue;
            }
            .arrow-right {
                align-self: center;
                justify-self: center;
                grid-area: arrowright;
                padding: 10px;
                box-shadow: 0px 0px 0px 3px white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background: cornflowerblue;
            }
        }
    }
    
    .text-shadow {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
    }